$sidebar: ("list-item":("title": ("size": 0.85rem, "line-height": 0.9rem)));
$bottom-navigation: ('btn': ('font-size': 0.85rem));
$v-select: ('selection-comma': ('line-height': 1.2rem));
/*
$font-size-root: 10px;
$input-font-size: 10px;*/
