.vuse-fab {
  top: -15px !important;
}

.theme--light,
.theme--dark {
  &.neu-glow-inset {
    &.v-btn--active:hover::before,
    &.v-btn--active::before {
      opacity: 0 !important;
    }
  }
}

.theme--light,
.theme--dark {
  &.neu-glow-outset {
    &.v-btn--active:hover::before,
    &.v-btn--active::before {
      opacity: 0.3 !important;
    }
  }
}